/*Style to Admin's site*/
* {
	margin:0;
}
body {
	background-color:#3D3D3D;
	font-family:Courier New,Verdana,Arial, Helvetica, sans-serif;
	font-family:"Gill Sans","Gill Sans"
	font-size:15px;
	margin:auto;
}
#wrapper-header {
	background-color:#777676;
	border-bottom:#3D3D3D 2px solid;
	height:80px;
	margin:auto;
	padding:0;
	width:100%;
}
#wrapper {
	background-color:#c9c9c9;
	margin:auto;
	min-height:400px;
	min-width:900px;
	padding:0px;
	width:900px;
}
#wrapper-menu {
	background-color:#777676;
	height: 30px;
	margin:auto;
	width:900px;
}
#horizontal-menu {
	margin:auto;
	width:80%;
}
#horizontal-menu li{
	color:#FDFDFD;
	float:left;
	padding: 5px 5px 5px 5px;
	width:auto;
}
#horizontal-menu li:hover{
	font-weight:bold;
}
#wrapper-footer {
	background-color:#777676;
	margin:0;
	min-height:200px;
	width:100%;
}
#footer-content {
	margin:auto;
	padding-top:10px;
	padding-bottom:10px;
	min-width:900px;
	width:900px;
}
.footer-column {
	background-color: #3D3D3D;
	color:#fdfdfd;
	float:left;
	margin:5px;
	padding:5px;
	width:200px;
}
