/*Style to Admin's site*/
* { margin:0; }
body { background-color:#3D3D3D; font-family:"Gill Sans MT",Arial, Helvetica, sans-serif; font-size:15px; margin:auto; }



/*Contenedor del sitio*/
#wrapper { height:auto; margin:auto; min-height:400px; min-width:900px; padding:0px; padding-bottom:25px; width:900px;}

/*Header - Banner*/
#wrapper-header { height:125px; margin:auto; position:relative; width:100%; }
#wrapper-header #column { float:left; }
#wrapper-header .title { font-size:36px;  font-weight: bold;  font-style:italic; padding-top:40px; padding-left:36px; }
#wrapper-header .sub-title { font-size:15px; font-weight:bold; font-style:italic; padding-left:300px; }
#wrapper-header img{ float:right;  padding-right: 20px; position:absolute; }
#wrapper-header img.imagen1 { bottom:10px; right: 30px; }
#wrapper-header img.imagen2 { bottom:0; right: 90px; }



/* Menu horizontal*/
#wrapper-menu { background-color:#8FBF2E; color:white; height: 35px; margin:auto; width:900px;}
#horizontal-menu { margin:auto; width:80%;} 
#horizontal-menu li { color:#FDFDFD; float:left; height:20px; list-style:none; padding: 10px 20px 5px 15px; width:auto; }
#horizontal-menu li:hover{ background-color:#29653F; }
#horizontal-menu .selected { background-color:#29653F; }

/*Content*/
.wrapper-content { padding:25px 36px 25px 36px; height:auto; margin:auto; min-height:440px; width:900px; }
#wrapper-content { padding:25px 36px 25px 36px; height:auto; margin:auto; min-height:440px; width:900px; }

/*Content: For 2 colums same size*/
#wrapper-content-column-1 { float:left; height:435px; width:402px; } 
#wrapper-content-column-2 { float:left; height:435px; margin-left:12px; width:402px; }
.column-content { float:left; padding:5px; width:212px;}
.column-content-text { float:left; font-size:10px; height:370px; padding:5px; overflow:auto; text-align:justify; width:165px;}
.column-contact { color:#3D3D3D; font-size:smaller; padding-top:20px; }
.column-contact .text { color:#3D3D3D; font-size:smaller; padding-top:10px; text-align:center; }
.column-contact input[type=text] {width: 250px;}


.column-enterprise { margin:auto; padding:5px; text-align:center;}
.enterprise { border:white solid 1px; height:50px; margin:5px; padding:5px; text-align:center; width:360px; }

/* Presentation and buttons */
#wrapper-content-column-1 .mini-column {float:left; height:195px; margin:10px 0px 0px 5px; width:195px; }
#wrapper-content-column-1 .mini-column .presentation { color:#3D3D3D; font-size:smaller; margin:5px; }


/*3 Colums - Session start*/
#wrapper-content-column-left { float:left; width:222px; height:435px; }
#wrapper-content-column-mid { float:left; height:435px; margin-left:12px; width:412px; overflow: auto; }
#wrapper-content-column-mid #content-mid { height:370px; margin-top:62px; width:100%; }
#wrapper-content-column-right { float:left; height:435px; margin-left:12px; width:170px; }
#wrapper-content-column-right .info-practice { height:245px; }

/* Tables*/
.table-content { color:#3D3D3D; font-size:smaller; width:390px; margin:auto; min-height:300px;}
.table-content .first-column {width:100px;}


/* Title for subscribe */
.column-title-one { color:white; height:52px; float:left; text-align:center; width:205px; }
.column-title-two { color:white; height:52px; float:left; margin-left:2px; text-align:center; width:205px; }
.column-title-one .text { padding-top:15px;}
.column-title-two .text { padding-top:15px;}
#title-one:hover{ background-color:#29653F; }
#title-two:hover{ background-color:#29653F; }
.selected{ background-color:#29653F; }



/* Column for admin */
.wrapper-content-column-2b { float:left; height:auto; min-height:400px; margin-left:12px; font-size:10px; width:588px; }
.news { font-size:10px; }

/*Colors*/ 
.content-color { background-color:#C6C6C5; }
.lgreen{ background-color:#8FBF2E; }
.dgreen { background-color:#29653F; }



.column-title {
	color:white;
	height:52px;
	text-align:center;
	width:100%;
}
.column-title .text {
	padding-top:15px;
}

/*Menu right colums - menu vertical right*/
#menu-vertical-right { background-color:#8FBF2E; color:white; cursor:pointer; height:52px; text-align:center; width:100%; }
.horizontal { float:left; height:52px; width:200px;}
.margin-left-menu-horizontal {margin-left:12px; }
#menu-vertical-right:hover { background-color:#29653F; }
#menu-vertical-right .text { padding-top:15px; }
.margin-top-menu-vertical { margin-top:10px; }




/*Session content*/
#session-content { height:195px; width:100%; }
#session-content h1 { font-size:8px; }


/* Footer - this case News*/
#wrapper-footer { height:auto; margin:auto; min-height:150px; overflow:auto; width:828px; }
#wrapper-footer h1 { font-size: 12pt; margin:10px 0px 0px 10px; }
#wrapper-footer li { font-size: 12pt; margin:10px 0px 0px 10px; }
#wrapper-footer .all { float:right; margin:0px 10px 10px 0px; padding:5px; }

