.wrapper-color {
	background-color:#ECECEC;

}
.dialog-color {
	background-color:#C6C6C5;
}
.lgreen{
	background-color:#8FBF2E;
}
.dgreen {
	background-color:#29653F;
}
.font_color {
	color:#3C3C3B;
}
.font_color_menu {
	color:white;
}
